---
import { getCollection } from "astro:content";
import CardSpeaker from "./components/CardSpeaker.astro";

const speakers = await getCollection("speakers");
---

<div class="flex flex-col items-center gap-6 px-6 md:px-20 py-12 relative animate-on-scroll" id="speakers">

    <div class="flex flex-col w-full gap-8 justify-center items-center">
        <span
                class="text-white text-2xl md:text-3xl font-zen-dots max-w-xl mx-auto md:mx-0"
            >
                <span class="cursor-pointer hover:text-primary-orange transition-colors">
                    ~ Dentro de muy Pronto
                    <span class="text-primary-orange">.</span>
                </span>
            </span>
        <!-- {
            speakers &&
                speakers.map(async (speaker, index) => {
                    const { Content } = await speaker.render();
                    return (
                        <div class={`animate-on-scroll stagger-${Math.min(index + 1, 5)}`}>
                        <CardSpeaker
                            name={speaker.data.name}
                            role={speaker.data.role}
                            company={speaker.data.company}
                            avatar={speaker.data.avatar}
                            tittle={speaker.data.tittle}
                            github={speaker.data.github}
                            linkedin={speaker.data.linkedin}
                            instagram={speaker.data.instagram}
                            bio={speaker.data.bio}
                        >
                            <Content />
                        </CardSpeaker>
                        </div>
                    );
                })
        } -->
    </div>
</div>
